* {
  margin: 0;
  padding: 0;
  // box-sizing: 0;
  border: none;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

html {
}

body {
  text-align: center;
  font-family: sans-serif;
  min-height: 100%;
  width: 100%;
  position: absolute;
}

header {
  h1 {
    font-size: 16px;
  }
  margin: 50px 0;
  input {
    margin-top: 20px;
    width: 45%;
    line-height: 30px;
    text-align: center;
    outline: none;
  }
}

input {
  line-height: 20px;
  border: 1px solid grey;
  margin: 0 5px;
  text-indent: 5px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background: black;
  color:white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav {
  display: block;
  height: 50px;
  background: grey;
  ul {
    display: flex;
    li {
      width: 20%;
      line-height: 50px;
      height: 50px;
      a {
        width: 100%;
        height: 50px;
        line-height: 50px;
        cursor: pointer;
        background: beige;
        &:hover {
          background: teal;
        }
      }
    }
  }
}
div.wrap {
  margin-bottom: 50px;
}

div.item {
  border: 4px solid ghostwhite;
  width: 20vw;
  height: 20vw;
  display: inline-block;
  a {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 80%;
    &:hover {
      background: grey;
    }
    div {
      align-self:center;
    }
  }
  button{

    outline: none;
    height: calc(18% - 4px);
    cursor: pointer;
    margin-top: 2%;
    border-top: 4px solid black;
    width: 100%;
    background: white;
      &:hover {
        background: grey;
      }
  }
  input {
    outline: none;
    line-height: 30px;
  }
}
